@import "variables.scss";

.app {
  display: flex
}

header.app-bar {
  transition: margin-left,width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;

  &.drawer-minimized {
    margin-left: $drawerMinWidth;
    width: calc(100% - #{$drawerMinWidth});
  }

  &.drawer-maximized {
    margin-left: $drawerMaxWidth;
    width: calc(100% - #{$drawerMaxWidth});

  }

  &.drawer-closed {
    margin-left: 0;
    width: 100%;
  }
}

.app-drawer {

  > div {
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }
  &.minimized {
    > div {
      width: $drawerMinWidth;
    }
  }

  &.maximized {
    > div {
      width: $drawerMaxWidth;
    }
  }

  &.closed {
    > div {
      width: 0;
    }
  }
}

.app-main {
  transition: margin-left,width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  margin-top: 70px;

  &.drawer-minimized {
    margin-left: $drawerMinWidth;
    width: calc(100% - #{$drawerMinWidth});
  }

  &.drawer-maximized {
    margin-left: $drawerMaxWidth;
    width: calc(100% - #{$drawerMaxWidth});

    ul.sidebar-menu {
      .menu-item {
        width:100%
      }

    }
  }

  &.drawer-closed {
    margin-left: 0;
    width: 100%;

  }

  ul.sidebar-menu {
    .menu-item {
      width:0
    }

  }
}
